body {
    font-family: 'Metropolis';
}
.header {
    /* border: 3px solid red; */
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.07);
    padding: 15px;
}
.container {
    /* border: 3px solid green; */
    width: 1370px;
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}
.logo {
    /* border: 3px solid yellow; */
    width: 151px;
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.menu {
    /* border: 3px solid blue; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu a {
    display: block;
    /* border: 3px solid gray; */
    margin: 16px;
    text-decoration: none;
    color: #000000;
}
.burger-icon {
    display: none;
}
@media (max-width: 991px) {
    .menu {
        display: none;
    }
    .burger-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
    .burger-icon img {
        width: 40px;
    }
}
/* @media (max-width: 767px) {
    .menu {
        display: block;
    }
} */